.disponivel {
    -fx-text-fill: #49fa00;
    -fx-font-weight: bold;
}
.emprestado {
    -fx-text-fill: #dc3545;
    -fx-font-weight: bold;
}

.table-cell.disponivel {
    -fx-text-fill: #49fa00 !important;
}


.table-cell.emprestado {
    -fx-text-fill: #dc3545;
}